*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  color: #007B43 !important;*/
}
.cardHighlights{

  min-height: 100%;

}
<<<<<<< HEAD
body {
    background-color: #F2F2F2 !important; /* Change the color code as needed */
}
.bg-footer{
  background-color: #f0f0f0 !important;
}
.mb-8{
  margin-bottom: 8rem !important;
}
.mb-5{
  margin-bottom: 5rem !important;
}
.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.6em;
  font-size: 0.75em;
}
.w-40{
  width: 40%;
}
.accent{
  color: #FFD700 !important;
}
.second{
  color: #007B43 !important;
}
.admin-header{
  background-color: #007B43;
}
=======
.wrapper{
  display: grid;
  grid-auto-columns: repeat(auto-fit, minmax(350, 1fr)) ;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.productComponent{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2rem;
  text-align: center;
  width : 20rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3 ;

}
>>>>>>> 4438e0360f14aab6bf184b083b231eb068ce5e5a
